.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 50;
}

.content-overlay {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding: 50px;
  color: white;
}

.btn-overlay {
  align-self: flex-end;
  border: none;
  background: none;
  color: white;
}

.img-modal {
  max-width: 100%;
  max-height: 60vh;
}
